# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
*.bak

# Logs y archivos temporales
*.log
*.class
*.swp
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Otros
*.jar
*.war
*.ear